*{margin:0; padding:0}
html{background:#251912 url(images/bg-main.jpg) 50% 0 no-repeat}
body{font:normal 62.8%/1.3 Arial,Helvetica,sans-serif; background:#251912 url(images/bg-body.png); color:#c3a184; padding:50px 0}
a{color:#a1555a}a:hover{text-decoration:underline; color:#c3a184}
a img{border:none}
input, select, textarea{font-family:Arial,lucida,sans-serif; font-size:1em; vertical-align:middle; color:#DBEBF2}
input, select, textarea{background:transparent; padding:2px; border:1px solid #685952; color:#DBEBF2}
input:hover, textarea:hover, textarea:focus, input:focus{border:1px #777 solid; color:#fff}
textarea{width:80%; height:120px}
input, textarea , select{background-color:#312b2a; border:1px solid #000; padding:3px; color:#fff; font-weight:bold}
h1{font-size:2em}
h2{font-size:1.6em}
h3{font-size:1.4em}
h4{font-size:1.2em}
h5{font-size:1.1em}
h6{font-size:1em}p{margin-bottom:10px}
h1, h2, h3, h4, h5, h6{color:#a1555a}
blockquote{margin:0; padding:10px 20px; color:#333; line-height:1.6; font-family:Georgia,serif}
fieldset{border:1px solid #000; padding:10px;clear:both}
#view{position:relative}
#head{font-size:1.2em}
#content{font-size:1.2em}
#foot{font-size:1.2em; clear:both}
#logo .block{position:absolute; top:0; left:0; width:100%; height:100%; cursor:pointer; text-decoration:none}
#logo h1{font-size:2.8em; font-weight:normal; margin-top:46px; color:#fff}
#logo h2{color:#cfe4e9; font-weight:normal; line-height:12px; font-size:1.3em}
#logo {font-family:Georgia,New York CE,utopia,serif; cursor:pointer}
.clearer{clear:both }
.list_article{margin-bottom:1.5em; clear:both}
#comments ul li {padding:10px 0px 7px 10px;background:url(images/bg-foot.png);list-style:none;margin:2px;}
#view{width:898px; margin:0 auto; padding:0 20px 20px; background:url(images/bg-view.png); border:1px #685952 solid; border-width:1px 0}
#logo{position:relative; height:164px; overflow:hidden; background:#46691d url(images/bg-logo.jpg) no-repeat; text-align:center; clear:both}
#content{padding:35px 10px}
#foot{clear:both; padding:10px 15px; background:url(../images/bg-foot.png)}
#mainMenu li{float:left; margin:-1px 10px}
#mainMenu li a{display:block; float:left; color:#dbebf2; padding:22px 8px 15px; height:20px; text-decoration:none}
#mainMenu li a:hover, #mainMenu li.menuSelected a{border-top:1px #fff solid; color:#fff; padding-top:21px}
#mainMenu ul{list-style:none}
#right{width:20%; float:right}
#right .box{margin-bottom:50px}
#right .box h3{margin-bottom:16px; color:#cfb6aa}
#right .side_menu ul{margin-left:5px; margin-bottom:15px; border-left:1px #685952 solid; list-style:none}
#right .side_menu li{margin-left:-1px}
#right .side_menu li a{display:block; padding:6px 20px; height:14px; color:#dbebf2; text-decoration:none}
#right .side_menu li.menuSelected a, #right .side_menu li a:hover{border-left:1px #fff solid; padding-left:19px; color:#fff}
#right .boxText h3{padding-left:0 }
#left{float:left; width:78%;margin-bottom:15px;}
.info_line{background:url(images/bg-foot.png);padding:5px;}
.info_line ul{float:right;}
.info_line ul li{display:inline;padding:3px;background:none;list-style:none;}
#left .list_article p{margin-top:15px}
#left table.adminTables td a, #left table.adminTables td a:hover{text-decoration:none;} #left table.adminTables td,#left table.adminTables th{background:url(../images/bg-foot.png)}
#left .list_article ul, #left ol,#left .article ul,#left .article ol{padding-left:20px;}
#left .list_article ul li, #left .article ul li{padding-left:20px; margin:10px 0; list-style:circle;}
#left .list_article ol li{margin:3px 0 3px 10px; padding:0; list-style:decimal}
#foot {color:#dbebf2}
#foot a:hover{color:#fff}
/* sUmbit Styles */
.pagination ul {text-align:right;margin:5px;list-style:none;}
.pagination ul li{background:none;list-style: none;display: inline;}
.pagination ul li a{padding: 3px 8px;margin:4px;color:#dbebf2;border-top: solid 1px #685952;}
.pagination ul li a:hover,.pagination ul li a.currentpage{border-top:1px #fff solid; color:#fff;}
.pagination ul li a.disabled, .pagination  ul li a.disabled:hover{cursor: default;color: #ddd;font-weight: normal;}
.pagination ul li a.prevnext{font-weight: bold;}