*{margin:0; padding:0; }
body{font:400 0.8em trebuchet ms,arial,sans-serif; color:#888; background:#FFF url(mainbg.jpg) repeat-y top center; min-height:100%; }
a img{border:none; }
fieldset{border:solid 1px #eee;padding:10px;clear:left;}
a{text-decoration:none; color:#0CC; }
a:hover{text-decoration:underline; }
.wrap{width:95%; margin:0 auto; }
#head{height:231px; background:#FFF url(bodybg.jpg) repeat-x top left; padding:80px 0px 0px 100px; background-color:#444; }
#head h1{font:400 4.6em century gothic,arial narrow,arial,sans-serif; color:#FFF; }
#head h2{font:400 1.3em century gothic,arial narrow,arial,sans-serif; color:#0CC; }
#nav{width:980px; padding-top:34px; padding-bottom:29px; font-size:0px; position:absolute; top:226px; }
#right{float:right; width:28%; color:#FFF;margin:0px 2% 20px; }
#content{margin:30px 0px 50px 0; width:64%; }
#nav ul{list-style-type:none; }
#nav li{display:inline; }
#nav li a{height:84px; min-height:84px; padding:33px 30px 29px 30px; color:#FFF; text-decoration:none; font-size:16px; }
#nav li a:first-letter{text-decoration:underline; }
#nav li a:hover{background-color:#000; background:#0CC url(navhover.jpg) repeat-x top center; color:#FFF; }
#right h1{font:400 1.8em century gothic,arial narrow,arial,sans-serif; color:#033; margin:10px 0; background:url(h1bullet.gif) no-repeat left; padding-left:25px; }
#right p{background:url(rightlist_line.gif) repeat-x top left; line-height:1.5em; padding:10px 0; }
#right ul{list-style-type:none; }
#right li{margin:0px; list-style:none; background:url(rightlist_line.gif) repeat-x top left; }
#right li a{padding:8px 2px 8px 25px; display:block; margin: 0; color:#FFF; text-decoration:none; background:url(rightlist_bullet.gif) no-repeat left; }
#right li a:hover{background:#066; color:#FFF; }
#content h1, #content h1 a{font:400 1.8em century gothic,arial narrow,arial,sans-serif; color:#0CC; margin-top:15px; }
#content h2, #content h2 a{font-weight:400; color:#066; margin-bottom:10px; }
#content h1 a:hover, #content h2 a:hover{text-decoration:underline; }
#content p{margin:5px 0 5px 0; }
#content p img.right, #content p img.left{clear:none; padding:4px; border:1px solid #CCC; background-color:#EEE; }
#content p img.right{float:right; margin:0 0 10px 15px; }
#content p img.left{float:left; margin:0 15px 10px 0; }
.info_line{border-top:1px solid #CCC; border-bottom:1px solid #CCC; background:#F3F3F3 url(bullet.gif) no-repeat left center; font-size:0.9em; padding:10px 5px 10px 25px; margin-bottom:25px;height:20px;}
.info_line ul{float:right;margin:0px !important}
.info_line ul li{display:inline;padding:0px 15px 0px 0px !important;}
input.search_input{width:90%;}
.blockquote{display:block; background:#F3F3F3 url(quote.gif) no-repeat top left; padding:10px 10px 10px 25px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; }
#content ul{margin:20px; }
#content ul li{padding:2px}
input,textarea{border:1px #aaa solid; color:#999; padding:4px 5px; font:12px lucida sans,lucida sans unicode,gill sans,verdana,sans-serif; background-color:#FFF; margin-bottom:15px; }
input:hover,textarea:hover,input:focus,textarea:focus{border:1px #666 solid; }
input{margin-right:8px; padding:3px 5px;}
textarea{width:80%;height:140px}
.clearer{clear:both;}
#footer{width:100%; background:#003939 url(footbg.jpg) repeat-x top left; clear:both; }
#footer .wrap{margin:0 auto; padding:20px 0; color:#FFF; }#footnav{margin-bottom:50px; }
#footnav ul{list-style-type:none; }#footnav li{display:inline; }
#footnav li a{color:#B3BEBE; font:400 16px trebuchet ms,arial,sans-serif; padding:6px 12px; margin:16px 20px 0 0; border:1px solid #001414; text-decoration:none; }#footnav li a:hover{color:#FFF; background-color:#005050; border:1px solid #00ABAB; }
#footer h4, #footer h4 a{color:#099; padding:10px 0 10px 0; background:url(footlist_line.gif) repeat-x bottom left; text-decoration:none; }
#footer h4 a:hover{color:#0FF; } 
#footer a.credit{color:#0CC; text-decoration:underline; }
#footer a.credit:hover{color:#0CC; text-decoration:none; }
.linksright{float:left; width:200px; margin:0 12px; padding:0 10px 30px 10px; list-style-type:none; background:#002C2C url(linkscorner.jpg) no-repeat top right; }
.linksright li{display:inline; margin:0px; list-style-type:none; font-size:0.9em; }
.linksright li a{padding:4px; display:block; margin: 0; padding:5px; color:#B3BEBE; text-decoration:none; background-color:#002C2C; border-bottom:1px solid #002525; }
.linksright li a:hover{background-color:#002525; color:#FFF; border-bottom:1px solid #001C1C; }
.links li{display:inline; margin:0px; padding:0px; list-style-type:none; font-size:0.7em; }
.links li a{padding:4px; display:block; margin: 0; color:#BD9A56; text-decoration:none; background-color:#2D1A06; border-bottom:1px solid #211000; }
.links li a:hover{background-color:#211000; color:#FEEDA4; }
p.foot{color:#099; margin:5px 0 0 12px; padding:10px; font-size:0.8em;clear:both; line-height:1.6em; background-color:#004040; }
.pagination ul {text-align:right;margin:5px;list-style:none;}
.pagination ul li{list-style-type: none;display: inline;}
.pagination ul li a{padding: 3px 8px;margin:4px;border: solid 1px #eee;}
.pagination ul li a:hover{border:solid 1px #ccc;}
.pagination ul li a.currentpage{font-weight: bold;cursor: default;border: solid 1px #ccc;}
.pagination ul li a.disabled, .pagination  ul li a.disabled:hover{cursor: default;color: #ddd;font-weight: normal;}
.pagination ul li a.prevnext{font-weight: bold;}
#commentslist ol li , .search_results ol li{background:#f9f9f9;border:1px solid #eee;margin:5px 0px 0px;padding:5px 0px 5px 10px;}
#commentslist ol  li:hover, #commentslist ol li.odd:hover, .search_results ol li:hover{border:1px solid #ddd;}
#commentslist ol li.odd {background:#F1F1F1;border:1px solid #eee;}
.billBoard{background:#DFF8AD;margin:0 auto 10px;padding:3px;text-align:center;}